<div class="bg-image"></div>

<div ng-app="myApp" id="app" class="columns">
  <div class="column is-2"></div>
  <main class="column is-centered is-8">
    <nav class="navbar" role="navigation" aria-label="main navigation" [ngClass]="roundedNav()">
      <div class="navbar-brand">
        <h1>Played</h1>

        <a role="button" (click)="showNav = !showNav" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu" [ngClass]="showNavBar()">
        <div class="navbar-start">
          <a class="navbar-item" (click)="this.zoneInfo.mode = 0; this.zoneInfo.open = false;">
            Home
          </a>

          <a class="navbar-item" (click)="getNextGame()">
            Next Game
          </a>

          <a class="navbar-item" (click)="loadTodaysGames()" *ngIf="gameToday">
            Todays Game
          </a>
        </div>
      </div>
    </nav>
    <section id="core" style="width: 100%">

      <section id="details" class="columns is-multiline" *ngIf="zoneInfo.open">
        <!-- Show club info -->
        <section *ngIf="zoneInfo.mode == 0" style="width: 100%">
          <!-- Name and next Game -->
          <div class="columns">
            <div id="clubName" class="column is-8">
              <h1>{{ zoneInfo.loadedTeam.name }}</h1>
            </div>
            <!--Favourite selector-->
            <div id="faveSelector" class="column is-2">
              <a (click)="setFaveTeam(zoneInfo.loadedTeam)" [ngClass]="faveTeamIcon()">
                <div class="faveStar" >
                  ★
                </div>
              </a>
            </div>
            <!--Chance of winning-->
            <div id="nextGameBtn" class="column is-2">
              <div class="clubCard">
                <img class="mediumImg" src="https://squiggle.com.au{{ zoneInfo.loadedTeam.upcomming[0].logo}}" />
                <h3>{{ zoneInfo.loadedTeam.upcomming[0].confidence}} % chance of {{ zoneInfo.loadedTeam.id === zoneInfo.loadedTeam.upcomming[0].tipteamid ? "winning" : "losing" }}.</h3>
              </div>
            </div>
          </div>
          <!-- Next 5 Games -->
          <div id="next5" class="column is-full">
            <h3 style="margin-bottom: 15px;">Next 5 games</h3>
            <div class="columns">
              <div class="column clubCard" *ngFor="let game of zoneInfo.loadedTeam.upcomming | slice:0:5;">
                <img class="largeImg" src="https://squiggle.com.au{{ game.logo }}" />
                <h3>{{game.opponent}}</h3>
              </div>
            </div>
          </div>
          <!-- Previous Games -->
          <div id="previousGames" class="column is-full">
            <h3 style="margin-bottom: 15px;">Previous games</h3>
            <div class="columns">
              <div class="column clubCard" *ngFor="let game of zoneInfo.loadedTeam.played">
                <div (click)="loadGame(game.id)">
                  <img class="largeImg" src="https://squiggle.com.au{{ game.logo }}" />
                  <h3>{{game.won}}</h3>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Show Next game info -->
        <section id="nextGame" *ngIf="zoneInfo.mode == 1" style="width: 100%">
          <div class="columns" style="margin-top: 15px;">
            <div id="vsTitle" class="column is-6">
              <div style="display: inline-flex"><img class="mediumImg" src="https://squiggle.com.au{{ zoneInfo.nextGame.ateamlogo}}" /><h1 style="padding-left: 15px; padding-right: 15px;"> VS </h1><img class="mediumImg" src="https://squiggle.com.au{{ zoneInfo.nextGame.hteamlogo}}" /></div>
            </div>
            <div class="column">
              <h2><b>Tip:</b></h2>
              <h2>{{ zoneInfo.nextGame.tip }}</h2>
            </div>
          </div>
          <div class="columns" id="gameInfo">
            <div class="column"><h2><b>{{ getDay(zoneInfo.nextGame.date) }}</b></h2></div>
            <div class="column"><h2><b>Location:</b></h2><h2> {{ zoneInfo.nextGame.venue }}</h2></div>
          </div>
        </section>

        <!-- Show today's games -->
        <section *ngIf="zoneInfo.mode == 2" style="width: 100%">
          <div class="columns" style="padding: 12px">
            <div class="column" *ngFor="let game of zoneInfo.todaysGames">
              <div class="clubCard relative" (click)="getTodaysGame(game.id)" style="border-radius: 5px; color: black;">
                <img class="gameInfoImg" src="https://squiggle.com.au{{ game.ateamlogo }}" />
                VS
                <img class="gameInfoImg" src="https://squiggle.com.au{{ game.hteamlogo }}" />
                <div class="{{game.state}}">
                  {{game.state}}
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Show game info -->
        <section *ngIf="zoneInfo.mode == 3" style="width: 100%">
          <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
            <img class="gameInfoImg" src="https://squiggle.com.au/{{ zoneInfo.loadedGame.ateamlogo }}"/>
            VS
            <img class="gameInfoImg" src="https://squiggle.com.au/{{ zoneInfo.loadedGame.hteamlogo }}"/>
          </div>
          <div class="columns" style="text-align: center">
            <div class="column"><h2><b>Round: </b></h2>{{ zoneInfo.loadedGame.round }}</div>
            <div class="column"><h2><b>Date: </b></h2>{{ zoneInfo.loadedGame.date }}</div>
            <div class="column"><h2><b>Venue: </b></h2>{{ zoneInfo.loadedGame.venue }}</div>
            <div class="column"><h2><b>Winner: </b></h2>{{ zoneInfo.loadedGame.winner }}</div>
          </div>
          <table style="margin: 0 auto">
            <thead>
            <tr>
              <th></th>
              <th>{{ zoneInfo.loadedGame.ateam }}</th>
              <th>{{ zoneInfo.loadedGame.hteam }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Goals</td>
              <td>{{ zoneInfo.loadedGame.agoals }}</td>
              <td>{{ zoneInfo.loadedGame.hgoals }}</td>
            </tr>
            <tr>
              <td>Behinds</td>
              <td>{{ zoneInfo.loadedGame.abehinds }}</td>
              <td>{{ zoneInfo.loadedGame.hbehinds }}</td>
            </tr>
            <tr>
              <td>Score</td>
              <td>{{ zoneInfo.loadedGame.ascore }}</td>
              <td>{{ zoneInfo.loadedGame.hscore }}</td>
            </tr>
            </tbody>
          </table>
        </section>

      </section>

      <!-- Club cards -->
      <section id="clubs" class="columns is-multiline" style="border-radius: 10px">
        <div class="column is-2 clubCard relative" *ngFor="let team of teams; let i = index">
          <img (click)="loadTeam(team)" src="https://squiggle.com.au{{team.logo}}" style="margin: 0 auto"/>
          <div class="positionCounter"> {{i + 1}} </div>
        </div>
      </section>
    </section>

  </main>
</div>
