/*!* You can add global styles to this file, and also import other style files *!*/
html, body, main {
  margin: 0!important;
  padding: 0!important;
}
.bg-image {
  /* The image used */
  background-image: url("/assets/bg.jpg");

  display: block;
  position: fixed;

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1;
}

main {
  z-index: 999;
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  margin-top: 3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.roundedNav {
  border-radius: 5px!important;
}

#clubs {
  padding: 12px;
}

#core {
  margin-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#details {
  padding: 12px;
  color: white;
  position: relative;
  z-index: 9;
}

.dark-blur {
  content: "";
  background: black;
  filter: blur(8px) brightness(0.1);
  width: 100%;
  height: 100%;
  z-index: 1;
}
#details h1 {
  font-size: 3em;
}

.clubCard {
  background: white;
  text-align: center;
  cursor: pointer;
}

.clubCard img {
  width: 8em;
}

.navbar-brand h1 {
  font-weight: bold;
  font-size: 2em;
  margin-right: 1em;
  margin-left: 15px;
}

#vsTitle img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#next5 {
  margin-bottom: 2em;
}

#next5 .clubCard h3, #previousGames .clubCard h3 {
  color: black;
}

#next5 .clubCard, #previousGames .clubCard {
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


#nextGame #gameInfo h2 b {
  font-size: 2em;
}

#nextGameBtn .clubCard {
  margin-top: 15px;
  border-radius: 5px;
}

#nextGameBtn .clubCard img {
  width: 5em;
}

#nextGameBtn .clubCard h3 {
  color: black;
}

.relative {
  position: relative;
}

.positionCounter {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

.gameInfoImg {
  width: 5em !important;
  height: 5em !important;
  border-radius: 5px;
  background-color: white;
}

.smallImg {
  width: 4em !important;
  height: 4em !important;
}

.mediumImg {
  width: 5em !important;
  height: 5em !important;
}

.largeImg {
  width: 6em !important;
  height: 6em !important;
}

.live, .finished, .later {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.live {
  background-color: #00d1b2;
  color: #0a0a0a;
}

.finished {
  background-color: #ff0537;
  color: #0a0a0a;
}

.later {
  background-color: #00e7eb;
  color: #0a0a0a;
}

.faveStar {
  margin-top: 15px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}

.selected {
  color: gold;
}

#faveSelector a{
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  nav {
    width: 100% !important;
  }

  #details {
    padding: 0 !important;
    margin-bottom: 4em;
  }

  #next5, #previousGames {
    padding: 0 !important;
  }

  #next5 h3, #previousGames h3, #clubName {
    text-align: center;
  }

  #app {
    margin: 0 !important;
  }

  #vsTitle, #nextGame {
    text-align: center;
  }
}

table {
  border: 2px solid #42b983 !important;
  border-radius: 3px !important;
  background-color: #fff;
  color: #444;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}
